<html>

<h1>
    <centre> Exam results </centre>
</h1>

<% 
    let total = phy+chem+bio
    let per = total*100/450
    let result = ""
    if(per>=60){
        result="You have PASSED the exam"
    }else{
        result="You have FAILED the exam"
    }
%>

<table border="1">
    <tr>
        <td>Student Name </td>
        <td> <%= sname %> </td>
    </tr>

    <tr>
        <td> Physics </td>
        <td> <%= phy %> </td>
    </tr>

    <tr>
       <td> Chemistry </td>
        <td> <%= chem %> </td>
    </tr>

    <tr>
        <td>Biology </td>
        <td> <%= bio %> </td>
    </tr>

    <tr>
        <td>Total marks </td>
        <td> <%= phy+ chem + bio %> </td>
    </tr>

    <tr>
        <td>Percentage </td>
        <td> <%= (phy + chem + bio)*100/450 %> </td>
    </tr>

    <tr>
        <td>Result </td>
        <td> <%= result %> </td>
    </tr>

<%
if(per>=60){
%>

    <tr bgcolor="blue">
        <td> Result1</td>
        <td> <b> You have PASSED the exam</b></td>
    </tr>

<% } else{ %>

    <tr bgcolor="red">
        <td> Result2</td>
        <td> <b> You have FAILED the exam </b></td>
    </tr>

<% } %>

</table>


</html>